*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding:15px 8%;
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:20px;
}
a{
    text-decoration: none;
    color:#575757;
}
.common-btn{
    background-color:#1D4ED8;
    color:#FFFFFF;
    border:none;
    padding:12px 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
} 

/* header section */
.hero{
    position: relative;
    /* background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('./assets/banner.jpg');
    height: 686px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 40px;
    /* display: grid;
    justify-content: center;
    align-items: center;
    */
}
.hero-content{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: inline-block;
    align-content: stretch; */
    
    color:#FFFFFF;

    
    /* text-align: center;
    justify-content: center; */

}


/* card section */
h1{
    text-align: center;
    color: #000102;
    font-size:40px;
    padding-bottom: 40px;
}
    
.card{
    
    border:1px solid#E5E7EB;
    width: 100%;
    
    box-sizing: border-box;
    overflow: hidden;

    border-radius: 12px;

}

.img-style{
    width: 100%;
    height: 360px;
    display: block;
    object-fit: cover; 
    
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.p1{
color: #2563EB;

} 

.p2{
    color: #0D1B2A;
    font-weight: bolder;
}
.p3{
    color: #575757;
}

.card-containers{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    justify-content:space-evenly;
    row-gap: 30px;
    column-gap:30px ;
}
